/frontend/dist/
/frontend/tmp/
/frontend/out-tsc/
/frontend/node_modules/
/frontend/.angular/
/frontend/.cache/
/frontend/coverage/



/backend/.gradle/
/backend/build/
/backend/bin/
/backend/target/
/backend/.settings/
/backend/.classpath
/backend/.project
/backend/.springBeans
/backend/.sts4-cache/
/backend/nbproject/
/backend/nbbuild/


.idea/
.vscode/
*.iml
*.iws
*.ipr


.DS_Store
Thumbs.db
*.log
.env